<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdk.wallpaperapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".BaseApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.WallpaperApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activity.register.RegisterActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.login.LoginActivity"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.main.MainActivity"
            android:theme="@style/Theme.WallpaperApp"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.splash.SpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>